<div id="messages" data-ng-controller="MessagesController" data-messages='<%= render template: 'messages/messages.rabl', collection: @messages %>'>
<form >
  <fieldset>
    <label for="content">Schrijf een bericht</label>
		<textarea id="content" data-ng-model="message.content" rows="4"></textarea>
		<input type="button" value="Versturen" class="btn btn-primary" data-ng-click="sendMessage(message)"/> 
  </fieldset>
</form>

  <div class="row" data-ng-repeat="message in messages | orderBy:orderProp:true">
		<div class="span1">
		  <div class="row">
				<div class="span1">
					<img data-ng-src="{{ message.user.avatar_url}}" alt="avatar"/>
				</div>  
				<div class="span2">{{ message.user.name }} </div>
			</div>
		</div>
		<div class="span4">{{ message.content }}</div>
	</div>
</div>
  
